$correctAnswerColor: rgb(37, 171, 22);
$wrongAnswerColor: rgb(190, 33, 33);
$boxShadowColor: 2px 2px 2px rgb(57, 57, 57);
$backgroundBtnColor: rgba(242, 237, 161, 0.801);


//btn parameters
$btnWidth: 9rem;
$btnPadding: 0.7rem;
$btnBorderRadius: 8px;